<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Raza:</strong>
  <%= @pet.breed %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @pet.date_birthday %>
</p>
<p>
  <strong>Historial:</strong>
  <%= @pet.history_pet %>
</p>
<p>
  <strong>Peso promedio:</strong>
  <%= @pet.average_weight %>
</p>
<p>
  <strong>Altura promedio:</strong>
  <%= @pet.average_height %>
</p>
<p>
  <strong>Peso Máximo</strong>
  <%= @pet.max_weight %>
</p>
<p>
  <strong>Altura Máxima</strong>
  <%= @pet.max_height %>
</p>
<p>
  <strong>Dueño:</strong>
  <%= @pet.client_name %>
</p>


<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
