<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @client.mail %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @client.telephone %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
